.page {
  &__home-masonry {
    padding: 0 15px;
    @media screen and (min-width: 768px) {
      display: grid;
      grid-gap: 35px;
      padding: 0;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  &__masonry-item {
    position: relative;
    cursor: pointer;
    @media screen and (max-width: 767px) {
      margin: 0 auto 30px;
    }
    &:nth-child(1) {
      grid-row-start: 1;
      grid-row-end: 3;
    }
    &:nth-child(4n) {
      @media screen and (min-width: 1025px) {
        grid-column-start: 2;
      }
    }
    &--hover {
      background: #2498eb;
      height: 100%;
      position: absolute;
      width: 100%;
      left: 0;
      transition: all ease 0.2s;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
      top: 0;
      color: #fff;
      text-align: center;
      svg {
        width: 38px;
        height: 39px;
      }
      p {
        margin: 0;
        &:after {
          content: "";
          width: 40px;
          margin: auto;
          height: 1px;
          background: #fff;
          display: block;
          margin-top: 15px;
        }
      }
    }
    &:hover &--hover {
      opacity: 1;
    }
  }

  &__sections-nav {
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 768px) {
      padding: 0 15px;
    }
  }
  &__sections-link {
    margin: 0 15px;
    &:last-child {
      margin-right: 0;
    }
    .is-active {
      color: #253642;
      &:after {
        content: "";
        width: 10px;
        height: 10px;
        display: block;
        border-radius: 100%;
        margin: auto;
        margin-top: 13px;
        background-color: #1292ee;
      }
    }
  }
}

.services {
  &__wrapper {
    display: flex;
  }
  &__stats {
    width: 50%;
  }
  &__form {
    width: 50%;
  }
  &__title {
    color: #1292ee;
  }
}

.stats {
  h2 {
    margin: 0;
    width: 90%;
    margin-bottom: 40px;
  }
  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__bar-item {
    width: 100%;
    background: #f5f7fd;
    height: 5px;
    border-radius: 50px;
    position: relative;
  }
  &__item-svg {
    position: absolute;
    right: -9px;
    top: -10px;
    width: 26px;
    height: 26px;
  }
  &__bar-item {
    &--inner1 {
      background: rgb(0, 139, 190);
      background: linear-gradient(
        90deg,
        rgba(0, 139, 190, 1) 0%,
        rgba(88, 254, 238, 1) 100%
      );
      svg {
        fill: #58feee;
      }
    }
    &--inner2 {
      background: rgb(45, 119, 171);
      background: linear-gradient(
        90deg,
        rgba(45, 119, 171, 1) 0%,
        rgba(116, 192, 247, 1) 100%
      );
      svg {
        fill: #74c0f7;
      }
    }
    &--inner3 {
      background: rgb(235, 131, 88);
      background: linear-gradient(
        90deg,
        rgba(235, 131, 88, 1) 0%,
        rgba(250, 188, 175, 1) 100%
      );
      svg {
        fill: #fabcaf;
      }
    }
    &--inner4 {
      background: rgb(124, 84, 217);
      background: linear-gradient(
        90deg,
        rgba(124, 84, 217, 1) 0%,
        rgba(249, 170, 218, 1) 100%
      );
      svg {
        fill: #f9aada;
      }
    }
  }
}

.form {
  h2 {
    text-align: center;
    margin: 0;
  }
  p {
    color: #748494;
    text-align: center;
    width: 85%;
    margin: 40px auto;
  }
}

.login-form {
  &__input-wrapper {
    width: 100%;
    max-width: 370px;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
  }
  input {
    border: none;
    display: block;
    width: 100%;
    max-width: 370px;
    margin: auto;
    background-color: #f5f5f5;
    height: 50px;
    padding: 0 10px;
  }
  .error {
    font-size: 13px;
    color: red;
  }
  .submit-btn {
    margin: auto;
    border: none;
    background-color: #166dd5;
    color: #fff;
    display: block;
    cursor: pointer;
    padding: 15px;
    max-width: 160px;
    width: 100%;
    margin-top: 55px;
  }
}
